{% extends "admin/adminbase.html" %}
{% block content %}

<div class="card" style="width: 74rem;">
  <div class="card-body">
    <h3 class="card-title"><center><u>Reply Complaints</u></center></h3>

<table class="table">
  <thead>
  <tr>
    <th scope="col">SL</th>
    <th scope="col">USER</th>
    <th scope="col">COMPLAINT</th>
    <th scope="col">DATE</th>
    <th scope="col">REPLY</th>
  </tr>
  </thead>
  <tbody>
  {% for i in complaint %}
  <tr>
    <td>{{forloop.counter}}</td>
    <td>{{i.user}}</td>
    <td>{{i.complaint}}</td>
    <td>{{i.date}}</td>

    <td>
      {% if i.reply == None %}
      <a href ="{% url 'reply_complaint' i.id %}">Reply Now</a>
      {% else %}
      {{i.reply}}
      {% endif %}
    </td>
    {% empty %}
  </tr>
  <tr>
    <td colspan="7"><h3>No Results Found</h3></td>
  </tr>
  {% endfor %}
  </tbody>
</table>

{% endblock %}
  </div>
</div>