<!DOCTYPE html>
{% load static %}
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>Login Page with Background Image Example</title>
  <link rel="stylesheet" href="{% static 'static2/./style.css' %} ">

</head>
<body>
<!-- partial:index.partial.html -->
<div id="bg"></div>

<form method="post">
  {% csrf_token %}
  <div class="form-field">
    <input type="text"  name="uname" placeholder="Username" required/>
  </div>
  
  <div class="form-field">
    <input type="password" name="pass" placeholder="Password" required/>
  </div>
  
  <div class="form-field">
    <button class="btn" type="submit">Log in</button><br>
  </div>
  <center><a href="{% url 'student_registration' %}">Student Registration</a><br></center>
</form>
<!-- partial -->
  
</body>
</html>
